{% load static %}

<header class="amazon-navbar">

    <!-- Amazon Logo -->
    <div class="nav-logo">
        <img src="{% static 'images/amazon_logo.png' %}" alt="Amazon Logo">
    </div>

    <!-- Location -->
    <div class="nav-location">
        <i class="fa-solid fa-location-dot"></i>

        <div class="location-text">
            <span>Delivering to Manali 140306</span>
            <strong>Update Location</strong>
        </div>
    </div>

    <!-- Search -->
    <div class="nav-search">

        <select class="search-select">
            <option>All</option>
            <option>Amazon Devices</option>
            <option>Books</option>
            <option>Electronics</option>
            <option>Fashion</option>
        </select>

        <input type="text" placeholder="Search Amazon.in" class="search-input">

        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

    </div>

    <!-- Language -->
    <div class="nav-language">
        <span class="flag">🇮🇳</span>
        <strong>EN</strong>
        <span class="down-arrow">▾</span>
    </div>

    <!-- Account -->
    <div class="nav-account nav-item">
        <span>Hello, sign in</span>
        <strong>Account & Lists</strong>
    </div>

    <!-- Orders -->
    <div class="nav-orders nav-item">
        <span>Returns</span>
        <strong>& Orders</strong>
    </div>

    <!-- Cart -->
    <div class="nav-cart nav-item">
        <i class="fa-solid fa-cart-shopping"></i>
        <strong>Cart</strong>
    </div>

</header>
<!-- SECONDARY NAVBAR -->
<nav class="secondary-navbar">

    <!-- All -->
    <div class="secondary-item all-menu" id="all-menu-button">
        <i class="fa-solid fa-bars"></i>
        <strong>All</strong>
    </div>


    <!-- Rufus -->
    <div class="rufus-item">
        <span class="rufus-dot"></span>
        <strong>Rufus</strong>
    </div>

    <!-- Links -->
    <div class="secondary-item">
        Fresh
    </div>

    <div class="secondary-item">
        Prime Video
    </div>

    <div class="secondary-item">
        Sell
    </div>

    <div class="secondary-item">
        Gift Cards
    </div>

    <div class="secondary-item">
        Amazon Pay
    </div>

    <div class="secondary-item">
        Today's Deals
    </div>

    <div class="secondary-item">
        Gift Ideas
    </div>

    <div class="secondary-item">
        Buy Again
    </div>

    <div class="secondary-item">
        AmazonBasics
    </div>

    <div class="secondary-item">
        Health, Household & Personal Care
    </div>

    <div class="secondary-item">
        Prime <span class="small-arrow">▼</span>
    </div>

    <div class="secondary-item">
        Home Improvement
    </div>

</nav>