{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

</head>

<body>
    <header>

        <img src="{% static 'images/amazon_logo.png' %}" alt="Amazon Logo">


        <div class="location_box">
            <i class="fa-solid fa-location-dot"></i>
            <div class="text_box">
                <p class="text_manali">Delivering to manali 140306</p>
                <p class="text_update">Update Location</p>
            </div>
        </div>


        <div class="drop_down_box">
            <select name="" id="">
                <option value="">All</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <input type="text" name="" id="" placeholder="Search Amazon.in">
            <div class="magnifying_box">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="language_section">
            <p>🇮🇳 <span id="EN">EN</span></p>
        </div>

        <div>
            <p>Hello, sign in</p>
            <p>Account & Lists</p>
        </div>
        <div>
            <p>Returns</p>
            <p>& Orders</p>
        </div>
        <div>
            <p>0</p>
            <p>🛒 Cart</p>
        </div>


    </header>
</body>

</html>                       