{% load static %}

<!-- DARK OVERLAY -->
<div id="menu-overlay" class="menu-overlay"></div>


<!-- SIDE MENU -->
<aside id="side-menu" class="side-menu">

    <!-- HEADER -->
    <div class="side-menu-header">

        <div class="user-icon">
            <i class="fa-solid fa-user"></i>
        </div>

        <strong>Hello, Sneha</strong>

    </div>



    <!-- TRENDING -->
    <section class="menu-section">

        <h2>Trending</h2>

        <div class="menu-link">
            <span>Bestsellers</span>
        </div>

        <div class="menu-link">
            <span>New Releases</span>
        </div>

    </section>


    <!-- DIGITAL CONTENT -->
    <section class="menu-section">

        <h2>Digital Content and Devices</h2>

        <div class="menu-link">
            <span>Echo & Alexa</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Fire TV</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Kindle E-Readers & eBooks</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Audible Audiobooks</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Amazon Prime Video</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Amazon Music</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

    </section>


    <!-- SHOP BY CATEGORY -->
    <section class="menu-section">

        <h2>Shop by Category</h2>

        <div class="menu-link">
            <span>Mobiles, Computers</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>TV, Appliances, Electronics</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Men's Fashion</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Women's Fashion</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link see-all">
            <span>See all</span>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

    </section>


    <!-- PROGRAMS -->
    <section class="menu-section">

        <h2>Programs & Features</h2>

        <div class="menu-link">
            <span>Gift Cards & Mobile Recharges</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="menu-link">
            <span>Amazon Launchpad</span>
        </div>

        <div class="menu-link">
            <span>Amazon Business</span>
        </div>

        <div class="menu-link">
            <span>Handloom and Handicrafts</span>
        </div>

        <div class="menu-link see-all">
            <span>See all</span>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

    </section>


    <!-- HELP -->
    <section class="menu-section">

        <h2>Help & Settings</h2>

        <div class="menu-link">
            <span>Customer Service</span>
        </div>

        <div class="menu-link">
            <span>Your Account</span>
        </div>

        <div class="menu-link">
            <span>Sign Out</span>
        </div>

    </section>

</aside>
<!-- CLOSE BUTTON -->
<button id="close-menu" class="close-menu">
    <i class="fa-solid fa-xmark"></i>
</button>